.vehicleFormContainer input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.routeFormContainer input[type=number]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.table-action-button {
    margin-left:5px;
}

.big-icon {
    font-size:600%;
}

.vehicle-item {
    margin:20px 0 0 0;
}

.vehicle-item:hover {
    background-color:#f5f5f5;
    cursor:pointer;
}

._jw-tpk-container {
    height: 100px;
}

._jw-tpk-container a, ._jw-tpk-container abbr, ._jw-tpk-container acronym, ._jw-tpk-container address, ._jw-tpk-container applet, ._jw-tpk-container article, ._jw-tpk-container aside, ._jw-tpk-container audio, ._jw-tpk-container b, ._jw-tpk-container big, ._jw-tpk-container blockquote, ._jw-tpk-container canvas, ._jw-tpk-container caption, ._jw-tpk-container center, ._jw-tpk-container cite, ._jw-tpk-container code, ._jw-tpk-container dd, ._jw-tpk-container del, ._jw-tpk-container details, ._jw-tpk-container dfn, ._jw-tpk-container div, ._jw-tpk-container dl, ._jw-tpk-container dt, ._jw-tpk-container em, ._jw-tpk-container embed, ._jw-tpk-container fieldset, ._jw-tpk-container figcaption, ._jw-tpk-container figure, ._jw-tpk-container footer, ._jw-tpk-container form, ._jw-tpk-container h1, ._jw-tpk-container h2, ._jw-tpk-container h3, ._jw-tpk-container h4, ._jw-tpk-container h5, ._jw-tpk-container h6, ._jw-tpk-container header, ._jw-tpk-container hgroup, ._jw-tpk-container i, ._jw-tpk-container iframe, ._jw-tpk-container img, ._jw-tpk-container ins, ._jw-tpk-container kbd, ._jw-tpk-container label, ._jw-tpk-container legend, ._jw-tpk-container li, ._jw-tpk-container mark, ._jw-tpk-container menu, ._jw-tpk-container nav, ._jw-tpk-container object, ._jw-tpk-container ol, ._jw-tpk-container output, ._jw-tpk-container p, ._jw-tpk-container pre, ._jw-tpk-container q, ._jw-tpk-container ruby, ._jw-tpk-container s, ._jw-tpk-container samp, ._jw-tpk-container section, ._jw-tpk-container small, ._jw-tpk-container span, ._jw-tpk-container strike, ._jw-tpk-container strong, ._jw-tpk-container sub, ._jw-tpk-container summary, ._jw-tpk-container sup, ._jw-tpk-container table, ._jw-tpk-container tbody, ._jw-tpk-container td, ._jw-tpk-container tfoot, ._jw-tpk-container th, ._jw-tpk-container thead, ._jw-tpk-container time, ._jw-tpk-container tr, ._jw-tpk-container tt, ._jw-tpk-container u, ._jw-tpk-container ul, ._jw-tpk-container var, ._jw-tpk-container video {
    font-size: 120%;
}
._jw-tpk-container ol>li>a {
    font-size: 1.8rem;
}

textarea {
    resize: none;
}
.input-group {
    z-index:1;
}

.highlighted {
    background: #329aff;
    color:white;
}

body {
    background-color:#e6e6e6;
}

.margin-top-15 {
    margin-top:15px;
}

.gender {
    font-size: 120px;
    font-weight: 700;
}

.female {
    color: #ff6ba9;
    text-shadow: 2px 2px 8px #5f2324;
}

.male {
    color: #8bb7f0;
    text-shadow: 2px 2px 8px #233e5f;
}

.male img, .female img {
    width: 250px;
}


@media only screen and (max-width: 767px) {
    .male img, .female img {
        width: 100%;
    }
}

header .credentials {

}

footer .credentials {
    font-family: 'Tangerine', serif;
}

.credentials {
    text-align:center;
}

